@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/fonts/fira-code.ttf");
  font-family: FiraCode;
  font-weight: normal;
  font-style: normal;
}

*, body {
  font-family: FiraCode !important;
}

.button-shadow{
  box-shadow: -4px 4px 1px 0px #0F6;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



