@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("/fonts/fira-code.ttf");
  font-family: FiraCode;
  font-weight: normal;
  font-style: normal;
}

*,
body {
  font-family: FiraCode !important;
}

.button-shadow {
  box-shadow: -4px 4px 1px 0px #0f6;
}

.button-shadow:hover {
  box-shadow: -4px 2px 1px 0px #0f6;
}

.homepage-gradient{
  background: radial-gradient(100.31% 82.64% at 80.14% 23.05%, rgba(209, 242, 6, 0.20) 2.21%, rgba(209, 242, 6, 0.20) 19.04%, rgba(66, 104, 18, 0.00) 63.98%), conic-gradient(from 156deg at 46.04% 10.91%, rgba(0, 255, 102, 0.30) 143.87834787368774deg, rgba(1, 249, 100, 0.00) 271.8749928474426deg);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
